/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Providers/AppServiceProvider.cpanel.php
vendor.zip
.env.cpanel
web-seo.zip
database/sqlFiles/article_categories.sql
.idea/
/composer.phar
/Procfile